<md-dialog aria-label="Favorites">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools popUpHeaders">
        <h2>Füdr</h2>
      </div>
    </md-toolbar>

    <md-dialog-content >
      <div>
        <div id="popUpMenuTitle" class="md-dialog-content" >
          <u><h1>Favorites</h1> </u>
        </div>
        <div layout="column" layout-align="center center">
          <md-card ng-repeat="fav in fp.favoriteDishes"  class="md-dialog-content md-whiteframe-13dp"  layout="column"  >
            <div class="homeImageYum">
              <img ng-src="{{fav.photourl}}" class="md-card-image" >
            </div>
            <div id="popUpContent">
              <span class="md-headline"><p><u>{{fav.dishName}}</u></p> <p>at</p>  <h2>{{fav.restaurant.name}}</h2></span>
              <div layout="column">
                <p>{{fav.restaurant.address}} {{fav.restaurant.locality}}, {{fav.restaurant.region}} {{fav.restaurant.postcode}}</p>
                <p>{{fav.restaurant.tel}}</p>
                <p>{{fav.restaurant.hours_display}}</p>
              </div>
            </div>
            <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="fp.deleteFavoriteButton()">
              <md-icon class="material-icons">delete_forever</md-icon>
            </md-button>
          </md-card>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="column" >
      <md-button class="md-raised md-primary" ng-click="fp.cancel()">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
