<md-dialog aria-label="info">
  <form ng-cloak>
    <md-toolbar >
      <div class="md-toolbar-tools popUpHeaders">
        <h2>Füdr</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">

        <h2>{{ip.currentRestaurant.name}}</h2>
        <a target="_blank" href="https://www.google.com/maps/place/{{ip.currentRestaurant.address}}+{{ip.currentRestaurant.locality}}+{{ip.currentRestaurant.region}}+{{ip.currentRestaurant.postcode}}/">
          <div id=""><md-icon class="material-icons">location_on</md-icon></div>
          <u> <p>{{ip.currentRestaurant.address}} {{ip.currentRestaurant.locality}}, {{ip.currentRestaurant.region}} {{ip.currentRestaurant.postcode}}</p></u>
        </a>
        <p>{{ip.currentRestaurant.tel}}</p>
        <p>{{ip.currentRestaurant.hours_display}}</p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-click="ip.cancel()">
        Close
      </md-button>
  </form>
</md-dialog>
