<md-bottom-sheet flex-sm='100' flex-xs='100' class="stop-touch-event">
  <div id="MenuToolbar" layout="row" >
    <h2>Füdr</h2>
  </div>

  <md-subheader >
    <div id="menuTitle" layout="row" layout-align="center">
      <h2 >Menu</h2>
    </div>


    <md-list>
      <div class="menuContent" layout="row" layout-align="center center"  layout-xs="column" felx-sx='100'>

        <div layout="row" layout-align="center center" layout-wrap ng-controller="FirebaseController as fbc">
            <md-item >
              <md-button ng-click="fbc.logIn()" layout="row" layout-align="center stretch"  class="md-primary md-raised">
                Log In
              </md-button>
            </md-item>
            <md-item>
              <md-button ng-click="fbc.logOut()" layout="row" layout-align="center stretch" class="md-primary md-raised">
                Log Out
              </md-button>
            </md-item>
            <md-item >
              <md-button ng-click="mc.favoritesButton($event)" layout="row" layout-align="center stretch" class="md-primary md-raised" >
                Favorites
              </md-button>
            </md-item>
            <md-item>
              <md-button ng-click="mc.filterButton($event)" layout="row" layout-align="center stretch" class="md-primary md-raised" >
                Filter
              </md-button>
            </md-item>
        </div >

      </div>
    </md-list>

  </md-subheader>
  </div>
</md-bottom-sheet>
