<md-bottom-sheet >
  <div id="MenuToolbar">
    Füdr
  </div>

  <md-subheader >
    Menu
    <md-list>
      <div ng-controller="FirebaseController as fbc">
        <md-item >
          <md-button ng-click="fbc.logIn()" class="md-primary md-raised">
            Log In
          </md-button>
        </md-item>
        <md-item>
          <md-button ng-click="fbc.logOut()" class="md-primary md-raised">
            Log Out
          </md-button>
        </md-item>
      </div>
      <div ng-controller="HomeController as hc">
        <md-item layout="row" >
          <md-button ng-click="hc.favoritesButton($event)" layout="row" class="md-primary md-raised" >
            Favorites
          </md-button>
        </md-item>
      </div>

    </md-list>

  </md-subheader>
  </div>
</md-bottom-sheet>
