@import url('https://fonts.googleapis.com/css?family=Varela+Round');


body {
  font-family: 'Varela Round', sans-serif;
}
#toolbar{
  background-color: #db3236;

}
#toolbar h1{
  font-size: 84px;
  padding: 0;
  margin: 0;
}
#toolbar h5{
  padding: 0;
  margin: 0;
}
#toolbarName {
  padding: 8px;
  margin: 0;

}
#toolbarMenu{
  margin-bottom: 15px;
}
#md-toolbar-tools{
  height: 40px;
}
span{
  text-align: center;
}
.cardButton{
  background-color: white;
}
.homeImage{
  width: 600px;
  height: 450px;
  overflow: hidden;

}
.md-card-image{

  width:100%;

}
.popUpHeaders{
  background-color: #db3236;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

a {
  color: inherit;;
  text-decoration: none; /* no underline */
}
