@import url('https://fonts.googleapis.com/css?family=Varela+Round');


body {
  font-family: 'Varela Round', sans-serif;
}
#yumReviewButton{
  padding-bottom: 0;
  padding-top: 0;
}
#reviewYumsText{
  font-size: 8px;
  color: lightgray:
  padding: 0;
  margin: 0;

}
#popUpContent p, h2 {
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
  max-width: 600px;
}
#popUpMenuTitle{
  padding: 0;
  margin: 0;
  text-align: center;
}
#homeCardTitle{
  padding: 0;
}
#toolbar{
  background-color: #db3236;

}
#toolbar h1{
  font-size: 84px;
  padding: 0;
  margin: 0;
}
#toolbarh5{
  padding: 0;
  margin: 0;
}
#toolbarName {
  padding: 8px;
  margin: 0;

}
#toolbarMenu{
  margin-bottom: 15px;
}
#md-toolbar-tools{
  height: 40px;
}
#MenuToolbar{
  background-color: #db3236;
  color: white;
  height: 51px;
  padding-left: 16px;
  padding-top: 16px;

}
#MenuToolbar h2{
  margin: 0;

}
#menuTitle{
  padding-left: 23px;
  margin: 0;
  border-bottom: 1px solid;
  height: 45px;
}
span{
  text-align: center;
}
md-bottom-sheet{
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  border: 0;


}
.checkBox{
  vertical-align: top;
}
.checkBoxesGroup{
  padding-left: 20px;
}
.md-button.md-primary.md-fab.starButton{
  background-color: #edc741;
}
.md-button.md-primary.md-fab:not([disabled]):hover {
    background-color: #edc741;
}

.md-headline{
  font-size: 16px;
}

.cardButton{
  background-color: white;
}
.homeImage{
  width: 600px;
  height: 450px;
  overflow: hidden;

}
.md-card-image{
  display: inline-block;
  margin: 0;
  width:100%;

}
.popUpHeaders{
  background-color: #db3236;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

a {
  color: inherit;;
  text-decoration: none; /* no underline */
}
@media screen and (min-width: 961px) {
  .homeImageYum{
    width: 600px;
    height: 450px;
    overflow: hidden;
  }


}
@media screen and (max-width: 600px) {
  #toolbar h1{
    font-size: 52px;
    padding: 0;
    margin: 0;
  }
  #toolbarh5{
    font-size: 10px;
    padding: 0;
    margin: 0;
  }
  #toolbarUserName {
    font-size: 10px;
    padding: 0;
    padding-bottom: 8px;
    margin: 0;

  }
  #toolbarMenu{
    margin-bottom: 7px;
  }
  #md-toolbar-tools{
    height: 20px;
  }
  .homeImage{
    width: 100%;
    height: 275px;
    overflow: hidden;
  }
  .homeImageYum{
    width: 100%;
    max-height: 200px;
    overflow: hidden;
  }


}
@media screen and (max-width: 960px) and (min-width: 601px)  {
  #toolbar h1{
    font-size: 52px;
    padding: 0;
    margin: 0;
  }
  #toolbarh5{
    font-size: 8px;
    padding: 0;
    margin: 0;
  }
  #toolbarName {
    font-size: 12px;
    padding: 8px;
    margin: 0;

  }
  #toolbarMenu{
    margin-bottom: 7px;
  }
  #md-toolbar-tools{
    height: 40px;
  }
  .homeImage{
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
  .homeImageYum{
    width: 100%;
    max-height: 300px;
    overflow: hidden;
  }
}
