<div class="container" >
  <md-card>
    <div layout="column">
      <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Add A Dish To The Site For:</span>
            <span class="md-subhead">{{ad.placeData.placeObj.name}}</span>
            <span class="md-subhead">{{ad.placeData.placeObj.formatted_address}}</span>
          <md-card-title-text>
      <md-card-title>
    </div>

    <md-card-content>
        <div layout="row" flex>
          <form>
              <label for="dishName">Dish Name: </label>
                <input type="text" ng-model="ad.newDish.dishName" id="restaurant" />
              <label for="photourl">Photo Url: </label>
                <input type="text" ng-model="ad.newDish.photourl" id="photourl"  />
              <md-button class="md-raised md-primary" ng-click="ad.addDish()">Add Dish</md-button>
              <div layout="row" layout-wrap flex ng-repeat="cuisinetype in ad.cuisinetypes">
                <md-checkbox ng-checked="ad.checkBoxes(cuisinetype, ad.selected)"
                  ng-click="ad.toggle(cuisinetype, ad.selected)" aria-label="checkbox">
                  {{cuisinetype}}
                </md-checkbox>
              </div>
          </form>
        </div>
        <!-- <div layout="row" ng-repeat="place in ad.placesReturnedFromApi ">
          <md-button class="md-raised md-primary" ng-model= "place.name">{{place.name}}
            <p ng-model="place.formatted_address">{{place.formatted_address}}</p>
          </md-button>
        </div> -->
    </md-card-content>
  </md-card>

    <div class="row">
        <div>
        </div>
    </div>
</div>
