
<div class="container" layout="row"  layout-xs="column"  layout-align="center">

  <md-button hide-xs ng-click="hc.nawButton()"><h1>Naw</h1></md-button>
    <div class="card" layout="row" layout-xs="row" flex-sm="70" layout-align="center start" >
      <md-card flex-sm='100' flex-xs='100' class="md-whiteframe-13dp" >
        <md-card-header  >
            <div class="homeImage"  layout="column" layout-align="center center" >
              <img  md-swipe-right="hc.yumButton()" md-swipe-left="hc.nawButton()" ng-src="{{hc.currentDish.photourl}}" class="md-card-image" >
            </div>


        </md-card-header>
        <md-card-title id="homeCardTitle">
          <md-button  ng-class="{'starButton': hc.currentDish.favorite}" class="md-fab md-primary" aria-label="Favorite" ng-click="hc.addFavoriteButton()">
            <md-icon class="material-icons">star_border</md-icon>
          </md-button>
          <md-card-title-text layout="column" layout-align="center" >
              <div layout="column">
                <span id="dishTitle" class="md-headline">{{hc.currentDish.dishName}}</span>
                <span class="md-subhead">{{hc.currentRestaurant.name}}</span>
              </div>
              <div layout="row" layout-align="center">
                <md-button class="md-primary md-raised" ng-click="hc.yumReviewButton($event)" aria-label="description" md-ripple-size="full">
                  <md-icon class="material-icons">history</md-icon>
                </md-button>
              </div>

          </md-card-title-text >
          <md-button  class="md-fab md-primary"  ng-click="hc.infoButton($event)" aria-label="yum review">
            <md-icon class="material-icons">info_outline</md-icon>
          </md-button>
        </md-card-title>
      </md-card>
  </div>


  <div hide show-xs  layout="row">
    <md-button flex ng-click="hc.nawButton()"><h1>Naw</h1></md-button>
    <md-button flex ng-click="hc.yumButton()"><h1>Yum!</h1></md-button>
  </div>
  <md-button hide-xs ng-click="hc.yumButton()"><h1>Yum!</h1></md-button>

</div>
