<div class="container" >
  <md-card>
    <md-card-title>
        <md-card-title-text>
          <h1>Search A Place To Add A Dish!</h1>
        </md-card-title-text>
      </md-card-title>
    <md-card-content>
      <div class="row">
          <div>

          <form>
              <label for="restaurant">Restaurant: </label>
              <input type="text" ng-model="sd.searchPlace.restaurant" id="restaurant" placeholder="Restaurant" />
              <label for="location">Location: </label>
              <input type="text" ng-model="sd.searchPlace.location" id="location" placeholder="Location" />
              <md-button class="md-raised md-primary" ng-click="sd.searchPlaces()">Search Places</md-button>
          </form>
          </div>
          <div layout="row" ng-repeat="place in sd.placesReturnedFromApi ">

            <md-button ng-click=sd.clickedPlace(place) class="md-raised md-primary" >
               <p>{{place.name}}</p> 
              <p>{{place.address}}</p>
            </md-button>

          </div>
      </div>
    </md-card-content>
  </md-card>

</div>
